*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{    
    font-family: Verdana;
    background-color: #fdfdff;
}

.ajuste{
    width: 90%;
    margin-inline: auto;
}

header{
    padding: 10px;
    width: 100%;   
    display: flex;
    justify-content:space-between;
    align-items: center;
    /*box-shadow: inset 0 0 10em black;  */
    background-color: #393d3f;
    position: fixed;  
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff; 
    font-size: 10px;   
}

.logo img{    
    width: 40px;
    height: 40px;
}

.navbar-items ul{        
    display: flex; 
    flex-direction: row;   
}

li{
    list-style-type: none;
}

.navbar-items li{
    padding: 10px;
    
}

.navbar-items a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;    
    color: #fff;
    text-transform: 300ms ease;    
}

.navbar-items a:hover{    
    opacity: 0.5;    
}

main{
    padding: 80px 0 0 0;
}

.destaque{       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfdff;
}
.destaque h2{
    font-size: 30px;
    padding: 20px 0 20px 0;
}
.todos h2{
    margin: 20px 0 20px 0;
}
.evento-destaque{
    display: flex;
    justify-content: space-between;    
    padding: 0;
    margin: 0;
    background-color: #fdfdff;
    width: 98%;
    height: 400px;
    border-radius: 20px;  
    box-shadow: 5px 5px 15px 5px #000000;  
}

h2{
    margin: 20px 0 20px 1%;
    font-size: 30px;
    
}

.evento-destaque img{ 
    width: 800px;   
    height: 400px;
    border-radius: 20px 0 0 20px;    
}

.destaque-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 30px;  
    margin-bottom: 50px;  
}

.destaque-items ul{
    padding: 0 20px 0 20px;
    display: flex; 
    flex-direction: column;    
}

.destaque-items .address{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
    gap: 5px;
}

li.data{
    color: red;
    font-weight: bold;
}

.espaco-items h3{
   padding: 30px 20px 30px 20px;
}

.espaco-items p{
    padding: 0 20px 0 20px;
 }

 .destaque-items .espaco-items h3{
    font-size: 30px;
    text-transform: uppercase;
 }

.evento-destaque .destaque-items a{    
    font-size: 20px;
    border: 1px solid;
    color: #000;   
    text-decoration: none;
    padding: 15px 30px 15px 30px;  
    border-radius: 5px;
}

.evento-destaque .destaque-items a:hover{  
    cursor: pointer;  
    background-color: #cacbc67f;
}

.eventos-todos  {  
    width: 98%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    
}

.eventos-items .address{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.eventos{
    width: 300px;
    height: 380px;
    background-color: #fdfdff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.eventos:hover{
    box-shadow: 5px 5px 15px 5px #000000;  
}

.eventos img{
    width: 300px;
    border-radius: 20px 20px 0 0;
}

.eventos a img{
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.eventos-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}


.eventos-items ul li{
    padding: 10px 0 0 0;
    display: flex; 
    flex-direction: column;    
}


.conteudo{
    min-height: 100vh;
}

#section-contato{
    margin: 50px 0 0 0;
    padding: 40px;
    width: 100%;
    background-color: #eee;
    color: #000000;
    display: flex;
    justify-content: space-around;  
}

fieldset{
    border:none;
}

.formulario-campos{    
    display: flex;
    flex-direction: column;
    width: 30%;
}

.formulario-campos h4{
    font-size: 25px;
    margin-bottom: 10px;
}

.contato{ 
    display: flex;
    justify-content: start; 
    align-items: start;  
    width: 30%;
}

.contato h4{
    margin-bottom: 10px;
    font-size: 30px;
}

button{
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    font-size: 1em;
    text-transform: 300ms ease;
}

button:hover{
    cursor: pointer;
    background-color: #cacbc67f;
}
div input{
    width: 100%;
    height: 30px;
    margin: 0 0 15px 0;
}

textarea{
    width: 100%;
}

.enviar{
    margin: 10px 0 30px 0;
    width: 100px;
    height: 30px;
}

.enviar:hover{
    cursor: pointer;
}

.redes  img{
    width: 40px;
    height: 40px;
}

#sobre{
    margin: 50px 0 0 0; 
}
.somos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;    
    padding: 10px 0 10px 0;
    background-color: #ccd5ae;
    color: #000000;    
    text-align: center;    
}
.fazemos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;         
    padding: 10px 0 10px 0;
    background-color: #e9edc9;
    color: #000000;    
    text-align: center;    
}
.missao{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;       
    padding: 10px 0 10px 0;
    background-color: #fefae0;
    color: #000000;    
    text-align: center;    
}
.footer{  
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;    
    padding: 10px 0 10px 0;
    background-color: #393d3f;
    color: #fff;    
    text-align: center;    
}

.redes{
    display: flex;
    justify-content: start;
    gap: 30px;
}



/*mobile*/

@media (max-width: 800px){
    
    .footer{
        width: 100%;
        margin: 10px 0 0 0;
        padding: 10px;
        font-size: 10px;      
    }   
}
